<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/project_main.css" type="text/css"/>
<head>
    <div style="background-color:black">
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <div class="logo">TravelGPT</div>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    
</head>
<body>

  <h2>Flight Search</h2>
  <form id="flightSearchForm">
    <label for="originCode">Origin Code:</label>
    <input type="text" id="originCode" name="originCode" required>
    <label for="destinationCode">Destination Code:</label>
    <input type="text" id="destinationCode" name="destinationCode" required>
    <label for="dateOfDeparture">Departure Date:</label>
    <input type="date" id="dateOfDeparture" name="dateOfDeparture" required>
    <button type="submit">Search Flights</button>
  </form>
  
  <div id="flightSearchResults">
    <!-- Flight search results will be displayed here -->
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
