<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/project_main.css" type="text/css"/>
<head>
    <div style="background-color:black">
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <div class="logo">TravelGPT</div>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    
</head>
<br>
<br>
<br>

<body>
    <div class="flightBodyBox">
      <form method="GET" action="/flight/search">
        <button class="hotelFlightButton" role="button">Flights</button>
      </form>
        <br>
        <br>
        <form method="POST" action="/hotel/result">
          <div class="grid-container">
              <div class="item7">
                <textarea class="textAreaInputTop" id="country" type="text" name="country" value= '' rows="1" required >Country of stay</textarea>
              </div>
              <div class="item3">
                <input type="submit" class="goButton" value="GO"></button>
              </div>  
              <div class="item4">
                <input class="textAreaInputBottom" id="startDate" type="date" name="startDate" placeholder="Start Date" required>
              </div>
              <div class="item5">
                <input class="textAreaInputBottom" id="endDate" type="date" name="endDate" placeholder="End Date" required>
              </div>
              <div class="item6">
                <input class="textAreaInputBottom" id="adults" type="number" name="adults" placeholder="Adult Pax">
              </div>
              <div class="item8">
                <input class="textAreaInputBottom" id="children" type="number" name="children" placeholder="Children Pax">
              </div>
              <div class="item9">
                <p class="inputPrompt">Start Date:</p>
              </div>
              <div class="item10">
                <p class="inputPrompt">End Date:</p>
              </div>
              <div class="item11">
                <p class="inputPrompt">Number of Adults:</p>
              </div>
              <div class="item12">
                <p class="inputPrompt">Number of Children:</p>
              </div>
          </div>
        </form>
    </div>
    
    

</body>

</html>


